<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web - Semester 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/sprint-divider.css">
</head>

<body>
    <main class="semester_page">
        <header class="main_grid">
            <div></div>
            <div class="header_container">
                <a href="./index.html">
                    <figure class="logo_container">
                        <img src="./assets/img/divani.png" alt="">
                    </figure>
                </a>
                <div class="title_container">
                    <h1>I Love Web</h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <div class="dropdown">
                                <a href="" class="buttonheader">
                                    Semesters
                                </a>
                                <div class="dropdown-content">
                                    <a href="./semester1.html" class="dropdownlink">Semester 1</a>
                                    <a href="./semester2.html" class="dropdownlink">Semester 2</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>
            <div></div>
        </header>
        <div class="sections_container_outer main_grid">
            <div></div>
            <div class="sections_container">
                <section class="i_love_web_section note-section-container">
                    <div class="blocks-container">
                        <section class="blocks-group sticky-buttons">
                            
                            <div class="buttons">
                                <a href="#s67" class="button">Sprint 7</a>
                            </div>
                            
                        </section>
                        <section class="blocks-group sprint-divider">
                            <div class="anchor" id="s7"></div>
                            <h2>
                                SPRINT 7
                                <span>Connect Your Tribe</span>
                            </h2>
                        </section>

                        <article class="blocks-group note-group">
                            <h2>Daily Checkout 03-02-2025</h2>

                            <h3>Wat heb ik vandaag gedaan?</h3>

                            <p>Vandaag heb ik mijn NodeJS geüpdatet op mijn Macbook. Dit was nog een gedoe, aangezien mijn NodeVersionManager nog in mijn <code>$PATH</code> naar een oude versie ging. Dit heb ik met Krijn samen uitgezocht.</p>

                            <p>Daarnaast heb ik mijn visitekaartje gekopieerd van Sprint 1, in de Liquid-bestanden. Ook hebben we tijdens de workshop gespeeld met de FDND API en onze eigen data geüpdatet.</p>
                        </article>

                        <article class="blocks-group note-group">
                            <h2>04-02-2025 - Breakdown Schets + Eerste versie website met Liquid</h2>

                            <h3>Breakdown Schets</h3>

                            <p>Vandaag heb ik een breakdown schets gemaakt:</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/user-attachments/assets/86bb5348-3942-4671-a89e-8aaf2abc5880" target="_blank">
                                    Bekijk Breakdown Schets
                                </a>
                            </div>

                            <p>Meer over dit issue is hier te lezen:</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/DivaniNL/connect-your-tribe-profile-card/issues/2" target="_blank">
                                    Issue bekijken
                                </a>
                            </div>

                            <h3>Project Board</h3>

                            <p>Daarnaast heb ik een project board gemaakt voor deze sprint. Die is hier te bekijken:</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/users/DivaniNL/projects/4" target="_blank">
                                    Project Board bekijken
                                </a>
                            </div>

                            <h3>Eerste versie website</h3>

                            <p>Als laatste heb ik mijn CSS genest en mijn JavaScript code omgezet naar Vanilla ten opzichte van de site uit Sprint 1. Als extra heb ik een play-functie ingebouwd voor mijn Spotify Wrapped op mijn feitjes-artikel.</p>

                            <p>De site is hier te bekijken. De eerste weergave kan even duren (max. 60 seconden):</p>

                            <div class="buttons">
                                <a class="button" href="https://connect-your-tribe-profile-card-hxif.onrender.com/" target="_blank">
                                    Bekijk de website
                                </a>
                            </div>

                        </article>
                        <article class="blocks-group note-group">
                            <h2>05-02-2025</h2>

                            <h3>Wat heb ik vandaag gedaan?</h3>

                            <p>Vandaag heb ik de rest van mijn visitekaartje dynamisch gemaakt met JSON uit de database.</p>

                            <p>Hier een stuk code waarin ik mijn werkervaring dynamisch per entry in een table plaats:</p>

                            <pre class="ilw_codeblock"><code>
<!--                         -->&lt;table class=&quot;table-primary&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot;&gt;
<!--                         -->    &lt;thead&gt;
<!--                         -->        &lt;tr&gt;
<!--                         -->            &lt;th&gt;Periode&lt;/th&gt;
<!--                         -->            &lt;th&gt;Werkervaring&lt;/th&gt;
<!--                         -->        &lt;/tr&gt;
<!--                         -->    &lt;/thead&gt;
<!--                         -->    &lt;tbody&gt;
<!--                         -->        {% for werkervaring in custom.werkervaringen %}
<!--                         -->            {% if werkervaring.functie %}
<!--                         -->                &lt;tr&gt;
<!--                         -->                    {% if werkervaring.periode %}
<!--                         -->                        &lt;td&gt;{{ werkervaring.periode }}&lt;/td&gt;
<!--                         -->                    {% else %}
<!--                         -->                        &lt;td&gt;Onbekende periode&lt;/td&gt;
<!--                         -->                    {% endif %}
<!--                         -->                
<!--                         -->                    &lt;td&gt;{{ werkervaring.functie }} bij
<!--                         -->                        {% if werkervaring.link %}
<!--                         -->                            &lt;a class=&quot;link-werkervaring&quot; target=&quot;_blank&quot; href=&quot;{{ werkervaring.link }}&quot;&gt;
<!--                         -->                        {% endif %}
<!--                         -->                        {{ werkervaring.bedrijf }}
<!--                         -->                        {% if werkervaring.link %}
<!--                         -->                            &lt;/a&gt;
<!--                         -->                        {% endif %}
<!--                         -->                    &lt;/td&gt;
<!--                         -->                &lt;/tr&gt;
<!--                         -->            {% endif %}
<!--                         -->        {% endfor %}
<!--                         -->    &lt;/tbody&gt;
<!--                         -->&lt;/table&gt;
                            </code></pre>
                            <p>Ook heb ik hier gebruik gemaakt van flow tags.</p>
                            <div class="buttons">
                                <a href="https://shopify.github.io/liquid/tags/control-flow/" target="_blank" class="button">
                                    Bron
                                </a>
                            </div>
                        </article>
                        <article class="blocks-group note-group">
                            <h2>07-02-2025 - Code/Design Review visitekaartje</h2>

                            <h3>Beoordelen</h3>
                            
                            <p>Vandaag heb ik drie mensen beoordeeld op HTML, CSS en JS:</p>
                            
                            <div class="buttons">
                                <a class="button" href="https://github.com/Karima002/connect-your-tribe-profile-card-/issues/1" target="_blank" rel="noopener noreferrer">
                                    Karima
                                </a>
                                <a class="button" href="https://github.com/Kitkatisvibing/connect-your-tribe-profile-card/issues/1" target="_blank" rel="noopener noreferrer">
                                    Kate
                                </a>
                                <a class="button" href="https://github.com/misspastelwitch/connect-your-tribe-profile-card/issues/1#issuecomment-2642577913" target="_blank" rel="noopener noreferrer">
                                    Stella
                                </a>
                            </div>
                            
                            <h3>Beoordelingen behandelen</h3>
                            
                            <p>Zelf ben ik ook beoordeeld.</p>
                            
                            <div class="buttons">
                                <a class="button" href="https://github.com/DivaniNL/connect-your-tribe-profile-card/issues/2" target="_blank" rel="noopener noreferrer">
                                    Hier is te zien welke feedback ik heb gekregen
                                </a>
                            </div>
                            
                            <p>Hierna heb ik van de feedback issues gemaakt en de reviewers erin vermeld.</p>
                            
                            
                        </article>
                        <article class="blocks-group note-group">
                            <h2>08-02-2025</h2>

                            <h3>Wat heb ik gedaan?</h3>

                            <p>Vandaag heb ik meer particles toegevoegd zodat mijn structuur overzichtelijker is.</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/DivaniNL/connect-your-tribe-profile-card/blob/2f32ce312944b6d93765fc3dbca837e305355828/views/index.liquid#L5-L33" target="_blank" rel="noopener noreferrer">
                                    Zie hier
                                </a>
                            </div>

                        </article>
                        <article class="blocks-group note-group">
                            <h2>10-02-2025</h2>
                        
                            <h3>Wat heb ik vandaag gedaan?</h3>
                        
                            <p>Vandaag heb ik met mijn nieuwe groepje, bestaande uit: Karima, Halima en mijzelf, geëxperimenteerd met sorteren en het toepassen van filters m.b.v. de Directus FDND API.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/user-attachments/assets/d24fe594-2732-4c34-8aa5-ad0c3ca11dfa" class="button">
                                    <img src="https://github.com/user-attachments/assets/d24fe594-2732-4c34-8aa5-ad0c3ca11dfa" alt="Experiment met sorteren en filters">
                                </a>
                            </div>
                        
                            <p>Daarna hebben we allemaal schetsen gemaakt voor leuke ideeën om de data van de studenten te filteren en te sorteren.</p>
                        
                            <h3>Mijn uitwerking van de schetsen</h3>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/user-attachments/assets/a3175f69-df37-4eae-80b3-1b264e510151" class="button">
                                    <img src="https://github.com/user-attachments/assets/a3175f69-df37-4eae-80b3-1b264e510151" alt="Schetsen met filter-ideeën">
                                </a>
                            </div>
                        
                            <ul>
                                <li><strong>Idee 1:</strong> Een hover-effect met een achtergrondkleur die is ingesteld als favoriete kleur van die leerling.</li>
                                <li><strong>Idee 2:</strong> Een filter gebaseerd op een random ID. Hierna wordt één persoon weergegeven.</li>
                                <li><strong>Idee 3:</strong> Vier select-elementen met filters voor favoriete elementen en technieken.</li>
                                <li><strong>Idee 4:</strong> Een bij-modus om te zoeken naar bijnamen in plaats van gewone namen. In deze modus kun je ook weer terug naar de normale weergave.</li>
                                <li><strong>Idee 5:</strong> Een filter op favoriete gerechten. Er worden plaatjes van gerechten getoond (met beschrijving). Bij een klik op een gerecht worden de personen weergegeven die dit als favoriete gerecht hebben.</li>
                            </ul>
                        
                            <h3>Gekozen ideeën</h3>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/user-attachments/assets/3ca9cf58-c586-4dd6-ae7b-95787720c806" class="button">
                                    <img src="https://github.com/user-attachments/assets/3ca9cf58-c586-4dd6-ae7b-95787720c806" alt="Gekozen filter-ideeën">
                                </a>
                            </div>
                        
                            <p>Ik heb uiteindelijk besloten om idee 4 (de bijmodus) uit te werken.</p>
                            <p>Ik denk ook dat ik idee 5 (gerechtfilter) erin ga verwerken, mits genoeg mensen deze dataset invullen zodra deze is aangemaakt.</p>
                        </article>
                    </div>
                </section> <!--end of stuff-->
                

            </div>
            <div></div>
    </main>
    <script src="assets/js/script.js"></script>
</body>

</html>


