<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web - Semester 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/sprint-divider.css">
</head>

<body>
    <main class="semester_page">
        <header class="main_grid">
            <div></div>
            <div class="header_container">
                <a href="./index.html">
                    <figure class="logo_container">
                        <img src="./assets/img/divani.png" alt="">
                    </figure>
                </a>
                <div class="title_container">
                    <h1>I Love Web</h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <div class="dropdown">
                                <a href="" class="buttonheader">
                                    Semesters
                                </a>
                                <div class="dropdown-content">
                                    <a href="./semester1.html" class="dropdownlink">Semester 1</a>
                                    <a href="./semester2.html" class="dropdownlink">Semester 2</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>
            <div></div>
        </header>
        <div class="sections_container_outer main_grid">
            <div></div>
            <div class="sections_container">
                <section class="i_love_web_section note-section-container">
                    <div class="blocks-container">
                        <section class="blocks-group sticky-buttons">
                            
                            <div class="buttons">
                                <a href="#s67" class="button">Sprint 7</a>
                            </div>
                            
                        </section>
                        <section class="blocks-group sprint-divider">
                            <div class="anchor" id="s7"></div>
                            <h2>
                                SPRINT 7
                                <span>Connect Your Tribe</span>
                            </h2>
                        </section>

                        <article class="blocks-group note-group">
                            <h2>Daily Checkout 03-02-2025</h2>

                            <h3>Wat heb ik vandaag gedaan?</h3>

                            <p>Vandaag heb ik mijn NodeJS geüpdatet op mijn Macbook. Dit was nog een gedoe, aangezien mijn NodeVersionManager nog in mijn <code>$PATH</code> naar een oude versie ging. Dit heb ik met Krijn samen uitgezocht.</p>

                            <p>Daarnaast heb ik mijn visitekaartje gekopieerd van Sprint 1, in de Liquid-bestanden. Ook hebben we tijdens de workshop gespeeld met de FDND API en onze eigen data geüpdatet.</p>
                        </article>

                        <article class="blocks-group note-group">
                            <h2>04-02-2025 - Breakdown Schets + Eerste versie website met Liquid</h2>

                            <h3>Breakdown Schets</h3>

                            <p>Vandaag heb ik een breakdown schets gemaakt:</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/user-attachments/assets/86bb5348-3942-4671-a89e-8aaf2abc5880" target="_blank">
                                    Bekijk Breakdown Schets
                                </a>
                            </div>

                            <p>Meer over dit issue is hier te lezen:</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/DivaniNL/connect-your-tribe-profile-card/issues/2" target="_blank">
                                    Issue bekijken
                                </a>
                            </div>

                            <h3>Project Board</h3>

                            <p>Daarnaast heb ik een project board gemaakt voor deze sprint. Die is hier te bekijken:</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/users/DivaniNL/projects/4" target="_blank">
                                    Project Board bekijken
                                </a>
                            </div>

                            <h3>Eerste versie website</h3>

                            <p>Als laatste heb ik mijn CSS genest en mijn JavaScript code omgezet naar Vanilla ten opzichte van de site uit Sprint 1. Als extra heb ik een play-functie ingebouwd voor mijn Spotify Wrapped op mijn feitjes-artikel.</p>

                            <p>De site is hier te bekijken. De eerste weergave kan even duren (max. 60 seconden):</p>

                            <div class="buttons">
                                <a class="button" href="https://connect-your-tribe-profile-card-hxif.onrender.com/" target="_blank">
                                    Bekijk de website
                                </a>
                            </div>

                        </article>
                        <article class="blocks-group note-group">
                            <h2>05-02-2025</h2>

                            <h3>Wat heb ik vandaag gedaan?</h3>

                            <p>Vandaag heb ik de rest van mijn visitekaartje dynamisch gemaakt met JSON uit de database.</p>

                            <p>Hier een stuk code waarin ik mijn werkervaring dynamisch per entry in een table plaats:</p>

                            <pre class="ilw_codeblock"><code>
<!--                         -->&lt;table class=&quot;table-primary&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot;&gt;
<!--                         -->    &lt;thead&gt;
<!--                         -->        &lt;tr&gt;
<!--                         -->            &lt;th&gt;Periode&lt;/th&gt;
<!--                         -->            &lt;th&gt;Werkervaring&lt;/th&gt;
<!--                         -->        &lt;/tr&gt;
<!--                         -->    &lt;/thead&gt;
<!--                         -->    &lt;tbody&gt;
<!--                         -->        {% for werkervaring in custom.werkervaringen %}
<!--                         -->            {% if werkervaring.functie %}
<!--                         -->                &lt;tr&gt;
<!--                         -->                    {% if werkervaring.periode %}
<!--                         -->                        &lt;td&gt;{{ werkervaring.periode }}&lt;/td&gt;
<!--                         -->                    {% else %}
<!--                         -->                        &lt;td&gt;Onbekende periode&lt;/td&gt;
<!--                         -->                    {% endif %}
<!--                         -->                
<!--                         -->                    &lt;td&gt;{{ werkervaring.functie }} bij
<!--                         -->                        {% if werkervaring.link %}
<!--                         -->                            &lt;a class=&quot;link-werkervaring&quot; target=&quot;_blank&quot; href=&quot;{{ werkervaring.link }}&quot;&gt;
<!--                         -->                        {% endif %}
<!--                         -->                        {{ werkervaring.bedrijf }}
<!--                         -->                        {% if werkervaring.link %}
<!--                         -->                            &lt;/a&gt;
<!--                         -->                        {% endif %}
<!--                         -->                    &lt;/td&gt;
<!--                         -->                &lt;/tr&gt;
<!--                         -->            {% endif %}
<!--                         -->        {% endfor %}
<!--                         -->    &lt;/tbody&gt;
<!--                         -->&lt;/table&gt;
                            </code></pre>
                            <p>Ook heb ik hier gebruik gemaakt van flow tags.</p>
                            <div class="buttons">
                                <a href="https://shopify.github.io/liquid/tags/control-flow/" target="_blank" class="button">
                                    Bron
                                </a>
                            </div>
                        </article>
                        <article class="blocks-group note-group">
                            <h2>07-02-2025 - Code/Design Review visitekaartje</h2>

                            <h3>Beoordelen</h3>
                            
                            <p>Vandaag heb ik drie mensen beoordeeld op HTML, CSS en JS:</p>
                            
                            <div class="buttons">
                                <a class="button" href="https://github.com/Karima002/connect-your-tribe-profile-card-/issues/1" target="_blank" rel="noopener noreferrer">
                                    Karima
                                </a>
                                <a class="button" href="https://github.com/Kitkatisvibing/connect-your-tribe-profile-card/issues/1" target="_blank" rel="noopener noreferrer">
                                    Kate
                                </a>
                                <a class="button" href="https://github.com/misspastelwitch/connect-your-tribe-profile-card/issues/1#issuecomment-2642577913" target="_blank" rel="noopener noreferrer">
                                    Stella
                                </a>
                            </div>
                            
                            <h3>Beoordelingen behandelen</h3>
                            
                            <p>Zelf ben ik ook beoordeeld.</p>
                            
                            <div class="buttons">
                                <a class="button" href="https://github.com/DivaniNL/connect-your-tribe-profile-card/issues/2" target="_blank" rel="noopener noreferrer">
                                    Hier is te zien welke feedback ik heb gekregen
                                </a>
                            </div>
                            
                            <p>Hierna heb ik van de feedback issues gemaakt en de reviewers erin vermeld.</p>
                            
                            
                        </article>
                        <article class="blocks-group note-group">
                            <h2>08-02-2025</h2>

                            <h3>Wat heb ik gedaan?</h3>

                            <p>Vandaag heb ik meer particles toegevoegd zodat mijn structuur overzichtelijker is.</p>

                            <div class="buttons">
                                <a class="button" href="https://github.com/DivaniNL/connect-your-tribe-profile-card/blob/2f32ce312944b6d93765fc3dbca837e305355828/views/index.liquid#L5-L33" target="_blank" rel="noopener noreferrer">
                                    Zie hier
                                </a>
                            </div>

                        </article>
                        <article class="blocks-group note-group">
                            <h2>10-02-2025</h2>
                        
                            <h3>Wat heb ik vandaag gedaan?</h3>
                        
                            <p>Vandaag heb ik met mijn nieuwe groepje, bestaande uit: Karima, Halima en mijzelf, geëxperimenteerd met sorteren en het toepassen van filters m.b.v. de Directus FDND API.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/user-attachments/assets/d24fe594-2732-4c34-8aa5-ad0c3ca11dfa" class="button">
                                    Experiment met sorteren en filters
                                </a>
                            </div>
                        
                            <p>Daarna hebben we allemaal schetsen gemaakt voor leuke ideeën om de data van de studenten te filteren en te sorteren.</p>
                        
                            <h3>Mijn uitwerking van de schetsen</h3>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/user-attachments/assets/a3175f69-df37-4eae-80b3-1b264e510151" class="button">
                                    Mijn schetsen ter inspriatie.
                                </a>
                            </div>
                        
                            <ul>
                                <li><strong>Idee 1:</strong> Een hover-effect met een achtergrondkleur die is ingesteld als favoriete kleur van die leerling.</li>
                                <li><strong>Idee 2:</strong> Een filter gebaseerd op een random ID. Hierna wordt één persoon weergegeven.</li>
                                <li><strong>Idee 3:</strong> Vier select-elementen met filters voor favoriete elementen en technieken.</li>
                                <li><strong>Idee 4:</strong> Een bij-modus om te zoeken naar bijnamen in plaats van gewone namen. In deze modus kun je ook weer terug naar de normale weergave.</li>
                                <li><strong>Idee 5:</strong> Een filter op favoriete gerechten. Er worden plaatjes van gerechten getoond (met beschrijving). Bij een klik op een gerecht worden de personen weergegeven die dit als favoriete gerecht hebben.</li>
                            </ul>
                        
                            <h3>Gekozen ideeën</h3>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/user-attachments/assets/3ca9cf58-c586-4dd6-ae7b-95787720c806" class="button">
                                    Hier zijn onze tekeningne op het whiteboard te zien
                                </a>
                            </div>
                        
                            <p>Ik heb uiteindelijk besloten om idee 4 (de bijmodus) uit te werken.</p>
                            <p>Ik denk ook dat ik idee 5 (gerechtfilter) erin ga verwerken, mits genoeg mensen deze dataset invullen zodra deze is aangemaakt.</p>
                        </article>
                        <article class="blocks-group note-group">
                            <h2>11-02-2025</h2>
                        
                            <h3>Wat heb ik gedaan?</h3>
                        
                            <p>Vandaag heb ik een Hi-Fi ontwerp gemaakt van mijn uitwerking van de squad pagina.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://www.figma.com/design/EYpSMTPtBin9gglfED3sgt/Untitled?node-id=9-3&t=InVi22iEDHb3K2HW-1" class="button">Bekijk het Hi-Fi ontwerp</a>
                            </div>
                        
                            <p>Hierna heb ik feedback gevraagd aan een klasgenoot (Clarice). Ik was benieuwd wat andere mensen nog als feedback hadden.</p>
                        
                            <p>Zij gaf aan dat de website qua kleurenstelling nog iets minder zakelijk mag, en dat dit te bereiken is door een ander kleurenpallet te kiezen. Ik ben voor rood gegaan. Beiden vonden we dat het er al een stuk beter uitziet nu.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/user-attachments/assets/38cd5b71-bb13-415c-905e-8be4102c4d90" class="button">
                                    Discordgesprek - 1"
                                </a>
                                <a target="_blank" href="https://github.com/user-attachments/assets/3c7350a7-9968-49ab-b84a-241c46d55739" class="button">
                                    Discordgesprek - 2"
                                </a>
                                <a target="_blank" href="https://github.com/user-attachments/assets/da2d2d95-9de7-4475-b353-ff55c90bfc7c" class="button">
                                    Wireflow - 1"
                                </a>
                                <a target="_blank" href="https://github.com/user-attachments/assets/604902ca-672c-455f-a421-77ca1974898b" class="button">
                                    Wireflow - 2"
                                </a>
                            </div>
                        </article>
                        <article class="blocks-group note-group">
                            <h2>12-02-2025</h2>
                        
                            <h3>Wat heb ik vandaag gedaan?</h3>
                        
                            <p>Vandaag heb ik een wireflow van de gerecht-filter functionaliteiten gemaakt en de mobiele versie van de gerechtfilter uitgewerkt in de liquid-bestanden en JS.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/DivaniNL/connect-your-tribe-squad-page/commit/4c8ae0d651d1e0949b38016b2b8072f53f1c31c4" class="button">Bekijk de commit</a>
                                <a target="_blank" href="https://www.figma.com/design/EYpSMTPtBin9gglfED3sgt/Untitled?node-id=83-2&t=vsEohHXVxGberIBV-1" class="button">Bekijk de wireflow</a>
                            </div>
                        </article>
                        <article class="blocks-group note-group">
                            <h2>13-02-2025</h2>
                        
                            <h3>Daily checkout</h3>
                        
                            <p>Vandaag heb ik de puntjes op de i gezet met de applicatie.</p>
                        
                            <p>Ik heb voor desktop de gerechtfilter op een andere manier aangepakt dan op mobiel (zoals in mijn wireflow). Voor de gerechten-checkbox heb ik gebruik gemaakt van de <code>:has</code> selector.</p>
                        
                            <p>Voor toegankelijkheid heb ik het <code>aria-label</code> in JS aangepast wanneer het receptenfilter geopend is.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://jsfiddle.net/dv904vn1/2/" class="button">Inspiratie checkbox met tekst</a>
                                <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Element/ariaLabel" class="button">MDN: aria-label aanpassen in JS</a>
                                <a target="_blank" href="https://github.com/DivaniNL/connect-your-tribe-squad-page/commit/fc0937679dc71111514ecb2aaec78e2dbfdab672" class="button">Bekijk de commit</a>
                            </div>
                        </article>
                        <article class="blocks-group note-group">
                            <h2>14-02-2025</h2>
                            <h3>Code-Design review</h3>
                            <p>Vandaag heb ik samen met Halima en Karima twee mensen beoordeeld:</p>
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/vsheo/connect-your-tribe-squad-page/issues/7" class="button">Viresh (vsheo)</a>
                                <a target="_blank" href="https://github.com/kimnikitaschijf/connect-your-tribe-squad-page/issues/4#issuecomment-2658738133" class="button">Kim (kimnikitaschijf)</a>
                            </div>
                        
                            <h3>We love web</h3>
                            <p>Vandaag kregen we een talk van de bedenker van Polypane, Kilian Valkhof.</p>
                        
                            <p>De maker van Polypane ontwikkelde deze browser voor developers zonder investeerders. Zijn motto: "Alles bouwt voort op wat je eerder hebt gedaan."</p>
                        
                            <p>Zijn technische reis begon met FrontPage 2000. Op zijn twaalfde verdiende hij geld met een website vol banners. Elke klik leverde 15 cent op. Hij maakte ook een pagina met de PABO-catalogus.</p>
                        
                            <p>Hij runde 14 jaar een eigen bedrijf. In die tijd leerde hij veel nieuwe programmeertalen en technologieën kennen. De term "responsive design" bestaat inmiddels al 15 jaar.</p>
                        
                            <p>Hij ontwikkelde verschillende tools:</p>
                            <ul>
                                <li><strong>SenCSS:</strong> Een van de eerste standaard frameworks.</li>
                                <li><strong>gridBuilder.js:</strong> Voor het bouwen van grids.</li>
                                <li><strong>Grafico:</strong> Een JavaScript-library voor grafieken.</li>
                                <li><strong>trimage:</strong> Een image compressor in Python (gemaakt in 2010).</li>
                                <li><strong>f.lux indicator:</strong> Een tool geschreven in Python.</li>
                                <li><strong>Fromscratch:</strong> Een andere handige tool.</li>
                            </ul>
                        
                            <p>In mei 2019 lanceerde hij Polypane 1.0, vanaf nul opgebouwd. De browser kreeg zes jaar lang elke maand een nieuwe versie. Polypane is grotendeels gebouwd met JavaScript en gebruikt veel technieken, zoals React state, Inter Process Communication, message bus, message ports en het Chrome DevTools-protocol.</p>
                        
                            <p>Zijn side-projects zijn:</p>
                            <ul>
                                <li>superposition.design</li>
                                <li>Fix contrast</li>
                                <li>polypane.cloud</li>
                            </ul>
                        </article>

                        <article class="blocks-group note-group">
                            <h2>24-02-2025</h2>

                            <h3>Wat hebben we vandaag gedaan?</h3>

                            <p>Vandaag hebben we met ons groepje gezamenlijk een nieuwe schets gemaakt en de taken verdeeld d.m.v. issues.</p>

                            <div class="buttons">
                                <a target="_blank" href="./assets/img/schets-s7.jpg" class="button">Bekijk de schets</a>
                            </div>
                        </article>
                        <article class="blocks-group note-group">
                            <h2>27-02-2025</h2>
                        
                            <h3>Wat heb ik vandaag gedaan?</h3>
                        
                            <p>Vandaag heb ik ervoor gezorgd dat de links naar de gefilterde pagina's werken.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/halie404/connect-your-tribe-team-squad-page/issues/25" class="button">Bekijk de issue</a>
                            </div>
                        
                            <p>Ook heb ik een beginnetje gemaakt aan de lessen van learnjavascript.online voor de deeltaak.</p>
                        
                            <p>Hier heb ik in les 2 wat nieuws geleerd. Dit heb ik toegepast in mijn I love Web website.</p>
                        
                            <div class="buttons">
                                <a target="_blank" href="https://github.com/DivaniNL/i-love-web/commit/7d9f82d299d3d4dba02c4ab7ee04a2b44405c5d2" class="button">Bekijk de commit</a>
                            </div>
                            Hier zijn schermafbeeldingen van de les:
                            <div class="buttons">
                                <a target="_blank" href="/assets/img/theory.png" class="button">Afbeelding 1</a>
                                <a target="_blank" href="/assets/img/exercise.png" class="button">Afbeelding 2</a>
                            </div>
                        </article>
                        <article class="blocks-group note-group">
                            <div class="anchor" id="s6-qna"></div>
                            <h2>Vragenlijst</h2>
                            <ul class="questions">
                                <li class="orange">
                                    <strong>Vraag 1:</strong> Ik kan uitleggen wat NodeJS is en waarvoor het gebruikt wordt
                                    <br>
                                    <strong>Punten: 1</strong> 
                                </li>
                                <li class="red">
                                    <strong>Vraag 2:</strong> Ik weet wat het doel van package.json is en heb hier aanpassingen ingemaakt
                                    <br>
                                    <strong>Punten: 0</strong>
                                </li>
                                <li class="red">
                                    <strong>Vraag 3:</strong> Ik heb met npm packages geïnstalleerd en gebruikt in het bestand server.js
                                    <br>
                                    <strong>Punten: 0 (zelf heb ik het wel eens gedaan, maar niet op school)</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 4:</strong> Ik kan met commando’s in de terminal een NodeJS project stoppen en starten
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 5:</strong> Ik weet waarom ik mijn NodeJS project regelmatig moet herstarten en kan dit uitleggen
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 6:</strong> Ik heb een strategie voor debuggen in NodeJS
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="yellow">
                                    <strong>Vraag 7:</strong> Ik kan uitleggen wat Express.js doet en waarom het nodig is om met NodeJS een website te bouwen
                                    <br>
                                    <strong>Punten: 2</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 8:</strong> Ik weet wat routes zijn en kan zelf een nieuwe route aanmaken
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 9:</strong> Ik weet wat request en response argumenten zijn in een functie voor het laden van data
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 10:</strong> Ik heb gebruik gemaakt van een request parameter om specifieke data te laden
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="orange">
                                    <strong>Vraag 11:</strong> Ik kan uitleggen wat Liquid doet en waarom het nodig is om met Express.js een website te maken
                                    <br>
                                    <strong>Punten: 1</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 12:</strong> Ik weet hoe ik data naar Liquid verstuur om dit te gebruiken bij het renderen van een pagina
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 13:</strong> Ik weet hoe ik Liquid filters toe kan passen en waar ik kan vinden hoe die werken
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 14:</strong> Ik heb een nieuwe route gemaakt en nieuwe data meegegeven aan een Liquid view
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 15:</strong> Ik weet waar een foreach loop voor gebruikt wordt en pas het toe in een Liquid view om HTML te renderen
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 16:</strong> Ik kan in Liquid een controle maken waarmee de avatar niet getoond wordt als deze niet in whois.fdnd.nl is ingevuld
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="yellow">
                                    <strong>Vraag 17:</strong> Ik heb een strategie voor debuggen in Liquid
                                    <br>
                                    <strong>Punten: 2</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 18:</strong> Ik kan data fetchen uit een REST API
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 19:</strong> Ik snap het verschil tussen HTTP requests van de methodes GET en POST
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 20:</strong> Ik kan data uit een REST API filteren of sorteren
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="yellow">
                                    <strong>Vraag 21:</strong> Ik snap wat het async keyword doet in JavaScript code
                                    <br>
                                    <strong>Punten: 2</strong>
                                </li>
                                <li class="orange">
                                    <strong>Vraag 22:</strong> Ik weet wat het doel is van een try/catch block en kan het gebruiken bij het parsen van JSON
                                    <br>
                                    <strong>Punten: 1</strong>
                                </li>
                                <li class="red">
                                    <strong>Vraag 23:</strong> Ik begrijp het verschil tussen client-side JavaScript en server-side JavaScript en wanneer ik welke het handigst in kan zetten
                                    <br>
                                    <strong>Punten: 0</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 24:</strong> Ik kan formulier data die is ge-POST opslaan in een variabele op de server en gebruiken bij het renderen van een pagina
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                                <li class="green">
                                    <strong>Vraag 25:</strong> Ik kan formulierdata die is ge-POST door middel van een POST of PATCH HTTP request opslaan in de REST API
                                    <br>
                                    <strong>Punten: 3</strong>
                                </li>
                            </ul>
                        </article>
                        <section class="blocks-group sprint-divider">
                            <div class="anchor" id="s8"></div>
                            <h2>
                                SPRINT 8
                                <span>Server Side Rendering</span>
                            </h2>
                        </section>
                    </div>
                </section> <!--end of stuff-->
                

            </div>
            <div></div>
    </main>
    <script src="assets/js/script.js"></script>
</body>

</html>


