<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <script src="./assets/js/home.js" defer></script>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <main id="home">
        {% render 'partials/header.liquid' %}
        <div class="sections_container_outer main_grid">
            <div></div>
            <div class="sections_contianer">
                {% for file in files %}
                    <a href="/journal/{{file | slice: 0,-3}}">{{file | slice: 0,-3}}</a>
                {% endfor %}
            </div>
            <div></div>
    </main>
</body>

</html>