<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web - Semester 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/sprint-divider.css">
</head>

<body>
    <main class="home">
        {% render 'partials/header.liquid' %}
        <div class="sections_container_outer main_grid">
            <div class="sections_container">
                 <section class="i_love_web_section section_intro">
                    <div class="blocks-container">
                        <div class="blocks-group content-group">
                            <h2>Over mij</h2>
                            <p>Ik ben Dylan van Nierop, 25 jaar oud en ik woon in Bergambacht. Ik ben een
                                student aan de Hogeschool van Amsterdam en ik volg de opleiding Frontend- design en Development. Ik ben een creatieve en enthousiaste student die graag nieuwe dingen leert en
                                uitprobeert. Ik ben geïnteresseerd in webdesign en webdevelopment en hoop op de HvA mijn skills een flinke boost te geven.</p>
                        </div>
                        <div class="blocks-group media-group">
                            <img src="./assets/img/Dylan.jpg" alt="">
                        </div>
                    </div>
                </section>
                  <section class="about_outro">
                            <p>Wil je nog meer over mij weten, klik dan op de coole button hieronder om meer te weten te komen over mij!</p>
                            <div class="button_cool">
                                <a href="https://profile-card-divani.netlify.app/" target="_blank">Mijn Profile-card</a>
                            </div>
                        </section>
                
            </div>
    </main>
    <script src="assets/js/script.js"></script>
</body>

</html>


