<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web - Works</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/works.css">
</head>

<body>
    <main class="works">
        {% render 'partials/header.liquid' %}
        <div class="sections_container_outer main_grid">
            <div class="sections_container">
                <section class="i_love_web_section section_intro animation-slide--left" style="--delay: 0.2s;">
                    <div class="blocks-container">
                        <div class="blocks-group content-group">
                            <h2>ABS All Brake Systems</h2>
                            <p>Een website gemaakt voor een bedrijf dat gespecialiseerd is in het maken en leveren van remonderdelen</p>
                            <p>Deze website heb ik gemaakt in mijn periode dat ik werkzaam was bij BURO210, een bedrijf wat zich richt op het maken van mooie en toegankelijke Wordpress Maatwerk Sites/Shops</p>
                            <a class="button_normal" href="https://absallbrakesystems.com/" target="_blank">Bekijk de site</a>
                        </div>
                        <div class="blocks-group media-group">
                            <img src="./assets/img/abs.png" alt="">
                        </div>
                    </div>
                </section>
                 <section class="i_love_web_section section_intro reverse animation-slide--right" style="--delay: 0.4s;">
                    <div class="blocks-container">
                        <div class="blocks-group content-group">
                            <h2>JK Translate</h2>
                            <p>Een website gemaakt voor een vertaalbureau</p>
                            <p>Deze website heb ik gemaakt in mijn periode dat ik werkzaam was bij DoubleWeb, een bedrijf wat zich richt op het maken van mooie en toegankelijke Wordpress Maatwerk Sites/Shops</p>
                            <a class="button_normal jk" href="https://jktranslate.com/nl" target="_blank">Bekijk de site</a>
                        </div>
                        <div class="blocks-group media-group">
                            <img src="./assets/img/jktranslate.png" alt="">
                        </div>
                    </div>
                </section>
                <section class="i_love_web_section section_intro animation-slide--left" style="--delay: 0.6s;">
                    <div class="blocks-container">
                        <div class="blocks-group content-group">
                            <h2>Zom Tuinen <br>[COMING SOON]</h2>
                            <p>Een website die ik aan het maken ben voor een kennis</p>
                            <p>Deze website is een zelfstandig project waar ik naast mijn studie mee bezig ben</p>
                        </div>
                        <div class="blocks-group media-group">
                            <img src="./assets/img/zomtuinen.png" alt="">
                        </div>
                    </div>
                </section>
                
                
            </div>
    </main>
    <script src="assets/js/script.js"></script>
</body>

</html>


