//importeren van variables en mixins
@import "./vars";
@import "./keyframes";
@import "./mixins";
@import "./header";

*{
    margin: 0;
    padding: 0;
    font-family: $font1;
}
md#output{
    display: block;
    background-color: white;
}
.full, .full-row, .full-container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 35px;
}
.blocks-container{
    background: $white;
    width: 100%;
}
button{
    @include button;
}
pre{
    padding: 1rem;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: #1f2328;
    background-color: #f6f8fa;
    border-radius: 6px;
    margin: 10px;

    code{
        font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
    }
}
body{
    background-color: #333;
}
a{
    text-decoration: none;
    color: inherit;
}